<mat-card>
    <mat-toolbar color="primary">
        <h1>Formulaire Intervention</h1>
        <span class="example-spacer"></span>
        <button routerLink="/liste_interventions" mat-raised-button color="accent">
            Liste des interventions
        </button>
    </mat-toolbar>
    <mat-card-content>
        <div class="intervention-form m-3 p-4">
            <form [formGroup]="interventionForm">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label for="code">Code</mat-label>
                            <input matInput type="text" id="code" formControlName="code" [readonly]="true">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label for="dateDeb">Date de Début</mat-label>
                            <input matInput [matDatepicker]="picker1" placeholder="Date de Début" id="dateDeb" formControlName="dateDeb">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label for="dateFin">Date de Fin</mat-label>
                            <input matInput [matDatepicker]="picker2" placeholder="Date de Fin" id="dateFin" formControlName="dateFin">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label for="duree">Durée</mat-label>
                            <input matInput type="text" id="duree" formControlName="duree">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label for="observation">Observation</mat-label>
                            <input matInput type="text" id="observation" formControlName="observation">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label for="cloturer">Clôturé</mat-label>
                            <mat-select id="cloturer" formControlName="cloturer">
                                <mat-option [value]="true">Oui</mat-option>
                                <mat-option [value]="false">Non</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label for="MontantHT">MontantHT</mat-label>
                            <input matInput type="number" id="MontantHT" formControlName="MontantHT">
                          
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label for="facturer">Facturé</mat-label>
                            <mat-select id="facturer" formControlName="facturer">
                                <mat-option [value]="true">Oui</mat-option>
                                <mat-option [value]="false">Non</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label for="cause">Cause</mat-label>
                            <input matInput type="text" id="cause" formControlName="cause">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div style="margin:2%;text-align: right;">
            <button *ngIf="!isUpdateActive" (click)="onFormSubmit()" mat-raised-button color="accent">Enregistrer</button>
            <button *ngIf="isUpdateActive" (click)="onUpdate()" mat-raised-button color="accent">Modifier</button>
        </div>
    </mat-card-footer>
</mat-card>